.contact-page {
  background-color: rgb(26, 26, 26, 70%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.contact-title-container {
  text-align: center;
  margin-top: 15%;

  h1 {
    position: relative;
    font-size: 80px;
    z-index: 1;
    display: inline-block;
  }

  h1::after {
    content: "";
    background-color: rgb(var(--color3), 0.8);
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 8%;
    right: -10%;
    z-index: -1;
  }
}

.contact-container {
    min-width: 800px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  input,
  textarea {
    background-color: white;
    border: none;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Encode Sans Expanded', sans-serif;
    letter-spacing: 0.1em;
  }

  textarea {
    height: 100px;
  }

  button {
    margin-top: 3rem;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.266);
    background-color: rgb(47, 49, 54);
    color: white;
    font-size: 17px;
    box-sizing: border-box;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }

  button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.7s;
  }

  button:hover::before {
    left: 100%;
  }
}
