.footer-container {
  background-color: var(--color-bg);
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.footer-logos-container {
  display: flex;
  align-items: center;

  a {
    padding-left: 1rem;
    display: inline-block;
  }

  img {
    width: 40px;
    height: auto;
  }
}

.thankyou-icons {
    font-size: 12px;
    margin: 0;
    padding: 0;

    a {
        color: white;
        text-decoration: none;
    }
}
