.projects-page {
  background-color: rgb(26, 26, 26, 70%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  overflow-x: hidden;
}

.projects-container {
  align-items: flex-start;
  margin-bottom: 0rem;
  width: 1100px;
  margin-top: 8%;
  height: 785px;
}

.project-title-container {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    position: relative;
    font-size: 80px;
    z-index: 1;
    text-align: left;
    display: inline-block;
    margin: 0;
    margin-top: 0rem;
  }

  h1::after {
    content: "";
    background-color: rgb(var(--color3), 0.8);
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 8%;
    right: -10%;
    z-index: -1;
  }
}

.slick-track {
  padding: 0rem 2.6rem;
}

@media (max-width: 768px) {
  .projects-page {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 60px;
      margin: 0;
    }

    .projects-container {
      margin-top: 5rem;

      .slick-list {
        overflow: hidden;
        margin-left: 21rem;
      }
    }
  }

  .slick-dots {
    overflow: visible;
  }
}
