body,
main {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: rgb(26, 26, 26);
  --color1: 92, 95, 163;
  --color2: 149, 103, 255;
  --color3: 173, 255, 191;
  --color4: 255, 238, 152;
  --color5: 152, 178, 255;
  --color-interactive: 36, 245, 200;
  --circle-size: 80%;
  --blending: soft-light;
}

.submain-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-container {
  font-size: 25px;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;

  .hello-message h1 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .name {
    color: rgb(var(--color3));
  }

  .small-description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .submain-container {
    padding: 0 20px;
  }
  
  .text-container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;

    h1 {
      font-size: 30px;
    }
  }

  .hello-message .small-description {
    display: flex;
    flex-wrap: wrap;
  }
}
